/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #afd5f3db;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #afd5f3db;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #007ad9;
}


.w100{
    width: 100%;
}

.pullRight{
    float: right;
}

.px20{
    padding: 20px;
}
.px10{
    padding: 10px;
}
.px5{
    padding: 5px;
}
.borderpx2Css{
    border: 2px solid beige;
    box-shadow: 3px 3px beige;
}
.borderrightpx2Css{
    border-right: 2px solid beige;
}

.borderpx3Css{
    border: 3px solid beige;
}

.borderbottompx3Css{
    border-bottom: 3px solid beige;
}

.textAlng{
    text-align: right;
}

.hx450{
    height: 450px;
}
.hx250{
    min-height: 250px;
    max-height: 250px;
}

.OverY{
    overflow-y: auto;
}

.setpsBlueCss{
    color: white;
    background-color: #007ad9;
    text-align: center;
    border-radius: 42px;
    height: 60px;
    width: 60px;
    padding-top: 17px;
    margin: 45px;
}

.setpsGreenCss{
    color: white;
    background-color: #07ad49;
    text-align: center;
    border-radius: 42px;
    height: 60px;
    width: 60px;
    padding-top: 17px;
    margin: 45px;
}

.prx5{
    padding-right: 5px;
}

.mtbx75{
    margin-top: 75px;
    margin-bottom: 75px;
}
.ptx100{
    padding-top: 100px;
}
.boxShadowModel{
    padding: 15px;
    border: 1px solid beige;
    box-shadow: 4px 3px beige;
}

.hx60p{
    height: 60px;
}

.pi-plus-circle{
    font-size: 1.75em !important;
    color: #007ad9;
}

.pi-times-circle{
    font-size: 1.75em !important;
    color: #007ad9;
}

.px30{
    padding: 30px;
}

.text-center{
 text-align: center; 
}

.ptx50{
    padding-top: 50px;
}

.ptx100{
    padding-top: 100px;
}


