<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample06">
      <ul class="navbar-nav mr-auto">
          <ng-template ngFor let-item [ngForOf]="menu" let-i="index">
              <li class="nav-item active">
                  <a class="nav-link" href="#">{{item.name}}</a>
                </li>
            </ng-template>

       
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Feedback</a>
        </li> -->
  
      </ul>
    
    </div>
  </nav>