<form [formGroup]="modelForm">
  <div class="row  borderpx2Css hx450">
    <div class="col-12 form-group borderbottompx3Css">
      <div class="row px10">
        <label class='col-2 text-right'>Model Name</label>
        <input type="text" pInputText class="col-4 form-control" formControlName="name" placeholder="Model Name">
      </div>
    </div>
    <div class="col-12" formArrayName="data">
      <div class="col-12 textAlng">
        <div (click)="onAddRowClick()" class="pi pi-plus-circle"></div>
      </div>
      <div class="hx250 OverY">
        <div *ngFor="let itemrow of modelForm.controls.data.controls; let i=index" [formGroupName]="i">
          <div class="col-12 form-group boxShadowModel row">
            <div class="col-md-2 textAlng">
              Field Name
            </div>
            <div class="col-md-3">
              <input type="text" pInputText class="form-control" placeholder="Field Name" formControlName="fieldName">
            </div>
            <div class="col-md-2 textAlng">
              Data Type
            </div>
            <div class="col-md-4">
              <p-dropdown [options]="DataTypeMaster" placeholder="Select a Datatype" optionLabel="name" [showClear]="true"
                formControlName="datatype"></p-dropdown>
            </div>
            <div *ngIf="modelForm.controls.data.controls.length > 1" (click)="onDeleteRowClick()" class="col-md-1 pi pi-times-circle">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-right px30">
      <button pButton type="button" [disabled]="!modelForm.valid" (click)="onSubmit()" label="Submit" class="ui-button-raised"></button>
    </div>
  </div>

</form>

<p-dialog header="Confirmation" [(visible)]="displayOverlay" [modal]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
    <span>Do you want to add one more model?</span>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="onNewModel('Yes')" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="onNewModel('No')" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>