<form [formGroup]="uiForm">
    <div class="row  borderpx2Css hx450">
      <div class="col-12 form-group">
        <div class="row ptx50">
          <div class='col-12 text-center'>
            Select the menu bar type?
          </div>
          <div class="col-12 ui-g text-center">
              <div class="ui-g-12"><p-radioButton id='topMenu' name="group1" value="toolbar" label="Top Menu Bar" [(ngModel)]="val1" inputId="opt1" formControlName="menu"></p-radioButton></div>
              <div class="ui-g-12"><p-radioButton id='sideMenu' name="group1" value="sidebar" label="Side Menu Bar" [(ngModel)]="val1" inputId="opt2" formControlName="menu"> </p-radioButton></div>
          </div>
        </div>
      </div>
      <div class="col-12 text-right px30">
        <button pButton type="button" id='uiSubmit' [disabled]="!uiForm.valid" (click)="onSubmit()" label="Submit" class="ui-button-raised"></button>
      </div>
    </div>
  
  </form>