<div class="col-md-12 row borderpx2Css hx450">
  <div class="col-md-12">
    <div class="col-md-12 row px20">
      <div style="margin-bottom: 15px;" class="row col-md-12">
        <p style="margin:0 auto">Do you want to install all dependencies packages for the project?</p>
      </div>
      <div style="margin:0 auto" class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <button pButton type="button" (click)="onSubmit('Yes')" label="Yes" class="ui-button-raised"></button>
            </div>
            <div class="col-md-6 RedBtn">
              <button pButton type="button" (click)="onSubmit('No')" label="No" class="ui-button-raised"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>